@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark theme */

.dark {
  background: #1a202c; /* bg-gray-900 */
  color: white;
}

.dark .card {
  background: #ed8936; /* bg-orange-500 */
  color: black;
}

/* Tooltip */

.tooltip .tooltip-text {
  visibility: hidden;
  top: -64px;
  left: -70px;
  right: -70px;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.tooltip .tooltip-text div {
  background: rgba(0, 0, 0, 0.8);
  color: white;
}

.tooltip .tooltip-text .tooltip-triangle {
  height: 0;
  width: 0;
  border-top: 12px solid rgba(0, 0, 0, 0.8);
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}

.dark .tooltip .tooltip-text div {
  background: white;
  color: black;
}

.dark .tooltip .tooltip-text .tooltip-triangle {
  border-top: 12px solid white;
}

/* Modal */

.modal {
  background: rgba(0, 0, 0, 0.7);
}

.modal .modal-container {
  background: white;
}

.dark .modal .modal-container {
  background: #1a202c; /* bg-gray-900 */
  color: white;
}

/* Searchbar */

.dark input {
  background: #1a202c; /* bg-gray-900 */
}
